<html lang="en" ng-app="myApp">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Add New product</title>
<link href="css/bootstrap.min.css" rel="stylesheet" />
<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script type="text/javascript">
angular.module('productervice',[]).factory('productFactory',function($http){
	return{
		createProduct: function(product){
			$http.post('/product/create', product)
			.then(function(data){
				alert("created")
			})
			.catch(function(data){
				alert("not Created")
			});
		},
	}
});
var app = angular.module("myApp", [ 'productervice' ]);
app.controller('myCtrl',function($scope, $http, productFactory) {
					$scope.createProduct = function(product){
						productFactory.createProduct(product);
					}
				});
 </script>
</head>
<body>
	<div ng-controller="myCtrl">
		<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Add
			new product</h3>
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label for="productId" class="col-sm-2 control-label">ProductId</label>
				<div class="col-sm-4">
					<input class="form-control" placeholder="Product Id"
						ng-model="product.productId">
				</div>
			</div>
			<div class="form-group">
				<label for="supplier" class="col-sm-2 control-label">Supplier</label>
				<div class="col-sm-4">
					<input class="form-control" placeholder="supplier"
						ng-model="product.supplier">
				</div>

			</div>
			<div class="form-group">
				<label for="productName" class="col-sm-2 control-label">Product
					Name</label>
				<div class="col-sm-4">
					<input class="form-control" placeholder="Product Name"
						ng-model="product.productName">
				</div>
			</div>
			<div class="form-group">
				<label for="category" class="col-sm-2 control-label">Category</label>
				<div class="col-sm-4">
					<input class="form-control" placeholder="category"
						ng-model="product.category">
				</div>
			</div>
			<div class="form-group">
				<label for="productInformation" class="col-sm-2 control-label">Product
					Information</label>
				<div class="col-sm-4">
					<input class="form-control" placeholder="productInformation"
						ng-model="product.productInformation">
				</div>
			</div>
			<div class="form-group">
				<label for="quantity" class="col-sm-2 control-label">Quantity</label>
				<div class="col-sm-4">
					<input class="form-control" placeholder="Quantity"
						ng-model="product.quantity">
				</div>
			</div>
			<div class="form-group">
				<label for="price" class="col-sm-2 control-label">Price</label>
				<div class="col-sm-4">
					<input class="form-control" placeholder="Price"
						ng-model="product.price">
				</div>
			</div>
			<div class="controls">
				<button class="btn btn-success" ng-click="createProduct(product)">Register</button>
			</div>
		</form>
	</div>
</body>
</html>